{{#each this}}
   <li class="country-list__item">
      <img class="country-list__img" src="{{flags.svg}}" alt="{{name.official}}"/>
      <p class="country-list__name"><b>{{name.official}}</b></p>
   </li>
{{/each}}